<div class="" style="text-align: right;">
  <button (click)="userConnection()" style="background-color: rgb(205, 248, 248); font-weight: bold; margin-right: 1em;">Se connecter</button>
</div>

<div>
  <div style="text-align:center">
    <h1>
      {{ title }}!
    </h1>
  </div>

  <div class="container pt-3 text-justify">
    <p class="font-weight-bold">Bienvenue sur le site Trocgame, le site de troc de jeux entre particuliers.</p>
    
    <div class="card border-danger rounded" style="width:auto">
      <div class="card-header font-weight-bold bg-danger text-white">Nouvel utilisateur?</div>
      <div class="card-body">
        <p class="card-text">
          Si vous n'êtes pas sûr de vouloir vous lancer dans le troc, pas de problème, prenez le temps de parcourir notre site et les jeux à disposition. Seul le troc nécessite de s'inscrire.
        <br>
        Rendez-vous sur la page <em>'Recherche'</em> pour trouver les jeux qui vous intéressent en cherchant leur titre. Vous pouvez aussi découvrir de nouveaux jeux en faisant une recherche par catégorie, âge, nombre de joueurs ou durée moyenne d'une partie.
        </p>
      </div>
    </div>

    <br>

    <div class="card border-primary rounded" style="width:auto">
      <div class="card-header font-weight-bold bg-primary text-white">Envie de troquer?</div>
      <div class="card-body">
        <p class="card-text">
          Vous avez trouvé LE jeu qui vous plaît? C'est le moment idéal pour vous rendre sur la page <em>'Inscription'</em> afin de créer votre compte d'utilisateur. Il vous suffit de rentrer quelques renseignements sur vous-même et vous voilà prêt à échanger avec d'autres utilisateurs.
          <br>
          Pour cela, il vous suffit, sur la page de <em>'Détails du jeu'</em> de cliquer sur le bouton <em>'Je souhaite ce jeu'</em>. Vous avez alors accès aux coordonnées de l'utilisateur ayant mis le jeu à disposition. À vous de jouer pour le convaincre de vous troquer son jeu. Bon courage et bon jeu!
        </p>
      </div>
    </div>
    
    <br>
    
    <div class="card border-success rounded" style="width:auto">
      <div class="card-header font-weight-bold bg-success text-white">Et si vous proposiez vos jeux?</div>
      <div class="card-body">
        <p class="card-text">
          Vous souhaitez proposer un ou plusieurs jeux au troc? Rien de plus simple, rendez-vous sur votre compte. Cliquez sur <em>'Ajouter un jeu à troquer'</em> et c'est parti.
          <br>
          Il vous suffit d'entrer quelques renseignements sur votre jeu tels que son titre, sa catégorie, le nombre de joueurs, … Tous les champs avec une astérisque (*) sont obligatoires afin de pouvoir créer la fiche de votre jeu et avoir ainsi une chance qu'il soit trouvé par les autres utilisateurs lors de leurs recherches.
        </p>
      </div>
    </div>

  </div>
</div>